@import (reference) "./variables.less";

@font-face {
  font-family: 'Montserrat';
  src:
      url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
      url('../assets/fonts/Montserrat-Regular.woff') format('woff'),
      url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:
      url('../assets/fonts/Montserrat-Medium.woff2') format('woff2'),
      url('../assets/fonts/Montserrat-Medium.woff') format('woff'),
      url('../assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:
      url('../assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
      url('../assets/fonts/Montserrat-SemiBold.woff') format('woff'),
      url('../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:
      url('../assets/fonts/Montserrat-Bold.woff2') format('woff2'),
      url('../assets/fonts/Montserrat-Bold.woff') format('woff'),
      url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ptsans';
  src:
      url('../assets/fonts/ptsans.woff2') format('woff2'),
      url('../assets/fonts/ptsans.woff') format('woff'),
      url('../assets/fonts/ptsans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ptsans';
  src:
      url('../assets/fonts/ptsansbold.woff2') format('woff2'),
      url('../assets/fonts/ptsansbold.woff') format('woff'),
      url('../assets/fonts/ptsansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ptsans';
  src:
      url('../assets/fonts/PTSansPro-Black.woff2') format('woff2'),
      url('../assets/fonts/PTSansPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "ptsans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: @color-black;
  background-color: @color-white;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
