// colors
@color-white: #ffffff;
@color-gray: #c4c4c4;
@color-yellow: #f6d265;
@color-yellow-gradient: linear-gradient(90deg, #F6D265 0%, #FDA084 100%);
@color-red: #eb5757;
@color-black: #252422;

@color-animation-gradient: linear-gradient(90deg, @color-black 0%, @color-black 50%, #F6D265 50%, #FDA084 100%);
@color-animation-white-gradient: linear-gradient(90deg, @color-white 0%,  @color-white 50%, #F6D265 50%, #FDA084 100%);

// breakpoints
@desktop-l: 1440px;
@desktop: 1280px;
@laptop: 1024px;
@tablet: 768px;
@phone: 640px;
@mobile: 320px;

// animation
@transition: 300ms ease-in-out;
@bezier: .2s cubic-bezier(0.55, 0.055, 0.675, 0.19);

@vw: (240px / 1920 * 100vw);
// desc-block -> user-content

// @import (reference) "../../less/variables.less";

// .block {
// }

// @media (min-width: @laptop) {
//   .block {
//   }
// }

// <svg class="logo__svg">
//   <use xlink:href="#logo"></use>
// </svg>
