@import (reference) "../../less/variables.less";

.page-section {
  padding: 32px 0;
  position: relative;

  &_hero {
    padding-top: 0;
  }

  &_huge_bottom {
    padding-bottom: 64px;
  }

  &_huge_top {
    padding-top: 64px;
  }

  &_black {
    background: @color-black;
  }
}

@media (min-width: @laptop) {
  .page-section {
    padding: 80px 0;

    &_hero {
      padding-top: 0;
    }

    &_huge_bottom {
      padding-bottom: 160px;
    }

    &_huge_top {
      padding-top: 160px;
    }
  }
}

