@import (reference) "../../less/variables.less";

.centered-block {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 24px auto;

  &_no_indent {
    margin: 0 auto;
  }

	&__title {
		margin-bottom: 8px;
		font-size: 16px;
	}

	&__link {
		display: block;
		line-height: 1.6;
		font-size: 18px;
		font-weight: 700;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

@media (min-width: @laptop) {
	.centered-block {
		margin: 56px auto;

    &_indent_top {
      margin: 56px auto 0;
    }
	}
}
