@import (reference) "../../less/variables.less";

.decoration-block {
	position: absolute;
	pointer-events: none;
	z-index: -10;
	width: 100%;
  background: url("img/pd_bg_1.svg") center / contain no-repeat;


  &_hidden {
		display: none;
	}

	&_top_left {
		max-width: 250px;
		height: 250px;
		top: -150px;
		left: -150px;
	}

	&_center {
		max-width: 250px;
		height: 250px;
		top: 50%;
		transform: translateY(-50%);
		left: -90px;
		z-index: -1;
	}

	&_right_bottom {
		max-width: 250px;
		height: 250px;
		bottom: 25px;
		right: -90px;
		z-index: 1;
	}

	&_center_left {
		max-width: 250px;
		height: 250px;
		top: 50px;
		left: -90px;
		z-index: -1;
	}

	&_center_right {
		max-width: 250px;
		height: 250px;
		top: 50%;
		transform: translateY(-50%);
		right: -90px;
		z-index: -1;
	}
}

@media (min-width: @laptop) {
	.decoration-block {
		&_menu {
			top: 50vh;
			right: -50%;
			transform: translateY(-50%);
			height: 100vh;
		}

		&_top_left {
			max-width: 770px;
			height: 770px;
			top: -400px;
			left: -400px;
		}

		&_center {
			max-width: 770px;
			height: 770px;
			top: 50%;
			transform: translateY(-50%);
			left: -400px;
			z-index: -1;
		}

		&_right_bottom {
			max-width: 710px;
			height: 710px;
			bottom: -50px;
			right: -300px;
		}

		&_center_right {
			max-width: 710px;
			height: 710px;
			right: -300px;
		}

		&_center_left {
			max-width: 710px;
			height: 710px;
			top: 0;
			left: -390px;
		}
	}
}
