@import (reference) "../../less/variables.less";

.title {
	&_section {
		margin-bottom: 24px;
	}

	&_bar {
		margin-bottom: 8px;
	}

	&_block {
		margin-bottom: 8px;
	}

	&_white {
		color: @color-white;
	}

	&_white_reverse {
		color: @color-white;
	}

	&_h2 {
		font-size: 32px;
		line-height: 130%;
	}

	&_h3 {
		font-size: 42px;
	}

	&_h4 {
		font-size: 18px;
		line-height: 130%;
	}
}

@media (min-width: @laptop) {
	.title {
		&_block {
			margin-bottom: 32px;
		}

		&_bar {
			margin-bottom: 16px;
		}

		&_white_reverse {
			color: @color-black;
		}

		&_h2 {
			font-size: 48px;
			line-height: 120%;
		}

		&_h4 {
			font-size: 32px;
		}
	}
}
