@import (reference) "../../less/variables.less";

.link {
	color: @color-white;
	font-size: 16px;
	display: inline-flex;
	align-items: center;

	&__svg {
		width: 42px;
		height: 14px;
		fill: @color-white;
		display: block;
		margin-left: 8px;
		transition: transform @transition;

		&_reverse {
			transform: rotate(-180deg);
			margin-left: 0;
			margin-right: 8px;
		}

		&_white_reverse {
			fill: @color-black;
		}

		&_black {
			fill: @color-black;
		}
	}

	&_black {
		color: @color-black;
	}

	&:hover {
		.link__svg {
			transform: translateX(12px);
		}
		.link__svg_reverse {
			transform: translateX(-12px) rotate(-180deg);
		}
	}

	&_right {
		float: right;
	}

	&_reverse {
		flex-direction: row-reverse;
	}
}

@media (min-width: @laptop) {
	.link {
		&_white_reverse {
			color: @color-black;
		}
	}
}
