@import (reference) "../../less/variables.less";

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;

  padding: 10px 0;
  background-color: @color-black;
  transition: transform 1s cubic-bezier(.03,.35,.18,1.01);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__sidebar {
    display: flex;
    align-items: center;
  }

  &__phone,
  &__btn {
    display: none;
  }

  &__phone {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 18px;
    
    background: @color-animation-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    overflow: hidden;
    background-size: 200%;
    background-position: 0;
    transition: background-position @transition;

    &:hover {
      background-position: -100% 100%;
    }
  }

  &.is-moved {
    transform: translateY(-100%);
  }
}

@media (min-width: @laptop) {
  .header {
    padding: 24px 0;
    // background-color: transparent;
    background-color: @color-white;

    &__btn,
    &__phone {
      display: block;
    }
    
    &__btn {
      margin-right: 72px;
    }

    &__phone {
      margin-right: 48px;
      font-size: 24px;
    }
  }
}

.header.is-modified {
  background: @color-black;

  .logo__svg {
    fill: @color-white;
  }

  .header__phone {
    background: @color-animation-white-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    overflow: hidden;
    background-size: 200%;
    background-position: 0;
    transition: background-position @transition;

    &:hover {
      background-position: -100% 100%;
    }
  }

  .btn_secondary:hover::after {
    border-color: @color-white;
  }

  .burger-btn__row {
    background-color: @color-white;
  }

  .btn__caption {
    color: @color-white;
  }
}

@media (min-width: @laptop) {
.header.is-modified {
    &::after {
      position: absolute;
      pointer-events: none;
      content: "";
      top: 50vh;
      left: 105%;
      transform: translate(-50%, -50%);
      width: 700px;
      height: 500px;
      border-radius: 50%;
      background: @color-yellow-gradient;
      filter: blur(200px);
      z-index: -10;
    }
  }
}